/* ====================== GENERAL ========================================= */
/* Makes the sample page fill the window. */
html, body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 125px;
  max-width: 700px;
  z-index: 1;
}

/* ========================== MAP ========================================= */
#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
/*BACKGROUND OVERLAY*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
#overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
              ellipse at center,
              rgba(0,0,0,0) 0%,
              rgba(0,0,0,0.97) 85%,
              rgba(0,0,0,0.98) 86%,
              rgba(0,0,0,1) 88%,
              rgba(0,0,0,1) 91%,
              rgba(0,0,0,1) 94%,
              rgba(0,0,0,1) 95%,
              rgba(0,0,0,1) 100%);/* W3C */
}

/* ========================== MODAL ======================================= */
button.close {
  display: block;
  font-size: 30px;
  width:100%;
}
.modal.left .modal-dialog {
  background: rgba(228, 225, 222, 0.96);
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  max-width: 500px !important;
  height: 85vh;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}
/* Make Fullscreen when screen size is less than 981px wide*/
@media (max-width: 981px) {
  .modal.left .modal-dialog {
    min-width: 100vw;
  }
}
.modal.left .modal-content {
  background: url(/assets/images/water-mark-for-blade.png) no-repeat right bottom;
  height: 100%;
  background-size: 75% auto;
  overflow-y: hidden;
  /*z-index: 3;*/
}
.modal-header {
  border-bottom: none;
}
.modal.left .modal-body {
  padding: 15px 15px 80px;
}
/* Left Modal*/
.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: left 0.3s ease-out;
     -moz-transition: left 0.3s ease-out;
       -o-transition: left 0.3s ease-out;
          transition: left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog {
  left: 0;
  overflow-y: hidden;
}
/* Customize Modal opacity  */
.fade {
  opacity: .98;
}

/*=================== CUSTOM STYLES ====================================== */
.uppercase {
  text-transform: uppercase;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.image--padding {
  padding: 3%;
  width: 100%;
}
